<div class="row message" data-message-id="<%= message.id %>">
  <div class="row meta-info">
    <%= message.created_at.in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M:%S') %>
    <%= link_to "&#x1f5d1;".html_safe, message_path(message), data: { turbo_method: :delete, turbo_confirm: 'Sure?' } %>
  </div>

  <div class="row content">
    <%= message.content %>
  </div>

  <div class="row attachements">
    <% if message.attachements.attached? %>
      <% message.attachements.each do |att| %>
        <div class="attachement">

          <% if att.representable? %>
            <div class="preview" data-action="click->messages#changePreview">
              <% if ['video/quicktime', 'video/mp4'].include?(att.content_type) %>
                <!-- TODO: NEED A POSTER IMAGE HERE -->
                <video
                  class="lazyload"
                  preload="none"
                  controls
                  muted
                  width="100%"
                >
                  <source src="<%= rails_blob_path(att) %>" type="video/mp4">
                </video>
              <% else %>
                <%= image_tag "blank.png", width: "100%", "data-src" => rails_blob_path(att), class: "lazyload" %>
              <% end %>
            </div>
          <% end %>

          <div class="info">
            <%= link_to "&#x1F4BE;".html_safe, rails_blob_path(att, disposition: "attachment") %>
            <span><%= att.content_type %></span>
            <span><%= att.byte_size.to_fs(:human_size) %></span>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
