<div
  class="mb-2 w-full min-w-0 p-4 bg-white rounded-lg shadow-xs overflow-auto scrollbar-gutter-stable"
  data-message-id="<%= message.id %>"
  data-owner-id="<%= message.user.id %>"
  data-controller="message-ownership new-message-highlighter"
  <%= 'data-new-message="true"'.html_safe if defined?(as_new) && !!as_new %><%# see also tailwind definition %>
>
  <div class="text-gray-400 text-xs pb-2">
    <%=
      link_to("&#x1f5d1;".html_safe, message_path(message),
        class: 'hidden',
        **data_with_testid("delete-message-#{message.id}",{
          turbo_method: :delete,
          turbo_confirm: t('messages.delete_confirm'),
          message_ownership_target: 'owner',
        })
      )
    %>
    <span data-message-ownership-target="nonOwner" class="hidden">&#x270e;</span>
    <span class="mx-1"><%= message.created_at.in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M:%S') %></span>
    <span><%= message.user.username %></span>
  </div>

  <%= content_tag :div, simple_format(message.content),
    class: "container text-nowrap",
    **data_with_testid("message-content-#{message.id}") %>

  <div class="container flex">
    <% if message.attachements.attached? %>
      <% message.attachements.each do |att| %>
        <div class="container flex-shrink-0 w-auto mx-2">
          <% if att.representable? %>
            <div class="h-40 w-40 bg-gray-200 flex" data-action="click->messages#changePreview">
              <% if ['video/quicktime', 'video/mp4'].include?(att.content_type) %>
                <div class="relative">
                <%= video_tag([rails_blob_path(att)],
                  poster: url_for(att.representation(resize_to_limit: [640, 480])),
                  controls: true,
                  muted: true,
                  class: 'lazyload object-contain max-h-full max-w-full my-2',
                  preload: false,
                )
                %>
                <!-- WORKAROUND: In some cases, the video tag is not directly clickable in small displays,
                  so a transparent layer is placed over it so that it can be clicked.
                  The event is propagated to the parent element.
                -->
                <div style="position: absolute; top:0; left:0; width: 100%; height: 100%;"></div>
                </div>
              <% else %>
                <%=
                  image_tag('blank.png',
                    class: 'lazyload object-contain max-h-full max-w-full mx-auto my-2',
                    data: {
                      src: url_for(att),
                    }
                  )
                %>
              <% end %>
            </div>
          <% end %>

          <div class="text-xs">
            <%=
              link_to('&#x1F4BE;'.html_safe, rails_blob_path(att, disposition: 'attachment'),
                class: 'tooltip-trigger inline-block ',
                data: {
                  controller: 'tooltips',
                  tooltip: att.filename.to_s,
                }
              )
            %>
            <div class="tooltip hidden absolute bg-gray-800 text-white text-sm p-2 rounded-md max-w-xs z-10 whitespace-nowrap"></div>
            <span><%= att.content_type %></span>
            <span><%= att.byte_size.to_fs(:human_size) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
