<div class="row message" data-message-id="<%= message.id %>">
  <div class="col left">

    <div class="row meta-info">
      <div class="col created_at">
        <%= message.created_at.in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M:%S') %>
      </div>
      <div class="col attachement-info">
        <% if message.attachement.present? %>
          <%= link_to "&#x1F4BE;".html_safe, rails_blob_path(message.attachement, disposition: "attachment") %>
          <span><%= message.attachement.content_type %></span>
          <span><%= message.attachement.byte_size.to_fs(:human_size) %></span>
        <% end %>
      </div>
    </div>

    <div class="row content" data-action="click->messages#clearPreview">
      <%= message.content %>
    </div>

  </div>

  <div class="col right thumbnail">
    <% if message.attachement.present? && message.attachement.representable? %>
      <div class="attachement-info preview"
        data-action="click->messages#changePreview"
        data-url="<%= rails_blob_path(message.attachement) %>"
        data-type="<%= message.attachement.content_type %>"
      >
        <% if message.attachement.content_type == "video/quicktime" %>
          <%#= image_tag message.attachement.preview(resize_to_limit: [100, 100]) %>
          <%# LoadError (Generating image variants require the image_processing gem. Please add `gem 'image_processing', '~> 1.2'` to your Gemfile.): ... %>
          <video src="<%= rails_blob_path(message.attachement) %>" muted width="100%"></video>
        <% else %>
          <%= image_tag rails_blob_path(message.attachement), width: "100%" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
