<div id="messages-container" data-controller="messages" class="container">

  <header class="container p-1 text-xs text-center text-slate-400 bg-green-50">
    <h1 class="text-2xl font-extrabold">
      Message Board
    </h1>
  </header>

  <div id="form-container" class="container p-4 bg-blue-50">
    <%=
      form_with(
        url: messages_path,
        html: {
          'data-action' => 'turbo:submit-end->messages#resetForm',
          'class' => 'block',
        }
      ) do |form|
    %>
      <%= form.text_area(:content,
        rows: 3,
        class: 'w-full'
      ) %>

      <%= form.file_field(:attachements,
        multiple: true,
        class: ''
      ) %>

      <%= form.submit('Submit',
        class: ''
      ) %>
    <% end %>

    <div id="flash-message-container">
      <%= render 'flash' %>
    </div>
  </div>

  <div id="container" class="container p-4 bg-pink-50">
    <div id="left" class="">
      <div class="container" data-class="paginate">
        <%= paginate @messages %>
      </div>

      <div id="messages" class="">
        <%= render @messages %>
      </div>

      <div class="container" data-class="paginate">
        <%= paginate @messages %>
      </div>
    </div>

    <div id="right" class="">
      <div id="preview" class="sticky top-4" data-messages-target="preview" data-action="click->messages#clearPreview">
      </div>
    </div>
  </div>

  <footer class="container p-1 text-xs text-center text-slate-400 bg-green-50">
    <span>Annabelle</span>
  </footer>
</div>
