<div id="messages-container" data-controller="messages">
  <h1>Message Board</h1>

  <div id="form-container">
    <%= form_with(url: messages_path, html: { 'data-action' => 'turbo:submit-end->messages#resetForm' }) do |form| %>
      <%= form.text_area :content, rows: 3, cols: 80 %><br>
      <%= form.file_field(:attachements, multiple: true) %>
      <%= form.submit('Submit')%>
    <% end %>
  </div>

  <div id="container">
    <div id="left">
      <div id="messages">
        <%= render @messages %>
      </div>
    </div>
    <div id="right">
      <div id="preview" data-messages-target="preview">
      </div>
    </div>
  </div>
</div>
