<turbo-frame id="devise">
<div class="container p-4">
  <%= content_tag :h2, 'Two Factor Authentication', class: 'text-2xl font-bold mb-6', **data_with_testid('two-factor-enabled-message') %>

  <ol class="list-decimal pl-5 space-y-6">
    <%= content_tag :li, **data_with_testid('configuration-menu-two-factor-authentication') do %>
      <div>
        <h3 class="text-xl font-semibold mb-2">Scan QR Code</h3>
        <div class="bg-gray-50 border border-gray-300 rounded-lg p-4 shadow-sm">
          <p class="mb-4 text-gray-700">
            Please scan the below QR code using an OTP compatible app (such as Google Authenticator or Authy).
          </p>
          <div class="py-4 text-center">
            <%= qr_code_as_svg(current_user.two_factor_qr_code_uri) %>
          </div>
          <p class="mt-4 text-gray-700">
            If you cannot scan, please enter the following code manually:<br>
            <code class="font-mono font-bold text-gray-900"><%= current_user.otp_secret %></code>
          </p>
        </div>
      </div>
    <% end %>

    <li>
      <div>
        <%= content_tag :h3, 'Confirm OTP Code', class: 'text-xl font-semibold mb-2', **data_with_testid('backup-codes-title') %>
        <div class="bg-gray-50 border border-gray-300 rounded-lg p-4 shadow-sm">
          <p class="mb-4 text-gray-700">
            Please confirm that your authentication application is working by entering a generated code below.
          </p>

          <%= render 'shared/flash' %>

          <%= form_with scope: :two_fa, url: two_factor_settings_path, method: :post, local: true do |form| %>
            <div class="mb-4">
              <%= form.label :code, class: "block font-medium text-gray-700" %>
              <%= form.text_field(:code,
                  autofocus: false,
                  autocomplete: 'one-time-code',
                  maxlength: 6,
                  inputmode: "numeric",
                  class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-40 p-2 text-center tracking-widest",
                  **data_with_testid('otp-code-input')
                )
              %>
            </div>

            <div class="mb-4">
              <%= form.label :password, 'Enter your current password', class: "block font-medium text-gray-700" %>
              <%= form.password_field :password, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500", **data_with_testid('current-password-input') %>
            </div>

            <div>
              <%= form.submit 'Confirm and Enable Two Factor', class: "w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-blue-500", **data_with_testid('confirm-and-enable-two-factor') %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  </ol>
</div>
</turbo-frame>