<!DOCTYPE html>
<html>
  <head>
    <title>Annabelle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if current_user %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>

    <footer class="container p-1 text-xs text-center text-slate-400 bg-green-500 text-white">
      <span>Annabelle - Message Board</span>
    </footer>
  </body>
</html>
