<%
  # ログインしている（いない）ユーザの情報を View で扱うためのプレゼンター。
  current_user_presenter = CurrentUserPresenter.new(self, current_user)

  # 設定画面用のレイアウトにするか否か
  in_configuration = (controller_name == 'registrations' || controller_name == 'users') && user_signed_in?
%>
<!DOCTYPE html>
<html>
  <head>
    <title>Annabelle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= current_user_presenter.meta_tag %>
  </head>

  <body class="min-h-screen flex flex-col">
    <header class="flex p-2 lg:px-6 text-xs text-center text-slate-400 items-center bg-gray-100">
      <div class="flex items-center">
        <div class="relative inline-flex items-center p-1 text-sm font-medium text-center">
          <%= link_to messages_path do %>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
              <path fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 5h9M5 9h5m8-8H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h4l3.5 4 3.5-4h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
            </svg>
            <%= current_user_presenter.notification_badge %>
          <% end %>
        </div>
        <div class="text-xl font-extrabold ml-2">
          <span>Annabelle</span>
        </div>
      </div>
      <div class="flex ml-auto items-center space-x-4 mr-2">
        <%= current_user_presenter.links %>
      </div>
    </header>

    <% if in_configuration %>
      <div class="flex">
        <nav class="px-2">
          <%= render 'layouts/configuration_menu' %>
        </nav>
        <main class="px-2">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <main class="">
        <%= yield %>
      </main>
    <% end %>

    <footer class=" mt-auto p-1 text-xs text-center text-slate-400 bg-green-500 text-white">
      <span>Annabelle - Message Board</span>
    </footer>
  </body>
</html>
